.layout {
  position:   relative;
  width:      100%;
  max-width:  1200px;
  padding:    0 1%;
  margin:     0 auto;
  margin-top: 4%;
}

.row{
  width:       100%;
  display:     flex;
  flex-flow:   column nowrap;
  align-items: stretch;
  justify-content: flex-start;
  margin-top:  2%;
}
.row.items-s{
  align-items: flex-start;
}
.row.items-c{
  align-items: center;
}
.row.items-e{
  align-items: flex-end;
}
.row.between{
	justify-content: space-between;
}

.layout:first-child,
.row:first-child{
  margin-top: 0;
}

.row > *{
  margin-top: 1%;
}
.row > :first-child{
	margin-top: 0;
}

@media (min-width: 576px){
  .row{
    flex-flow:       row nowrap;
  }

  .row > *{
    margin-left: 1%; 
    margin-top:  0;
  }
  .row > :first-child{
    margin-left: 0;
  }

    .w-1   { width: 7.41666666667%; }
    .w-2   { width: 15.83333333333%;}
    .w-3   { width: 24.25%;         }
    .w-4   { width: 32.66666666667%;}
    .w-5   { width: 41.08333333334%;}
    .w-6   { width: 49.5%;          }
    .w-7   { width: 57.91666666667%;}
    .w-8   { width: 66.33333333334%;}
    .w-9   { width: 74.75%;         }
    .w-10  { width: 83.16666666667%;}
    .w-11  { width: 91.58333333334%;}
    .w-12  { width: 100%; margin-left: 0; }
    
    .o-1   { margin-left: 8.41666666667%; }
    .o-2   { margin-left: 16.83333333333%;}
    .o-3   { margin-left: 25.25%;         }
    .o-4   { margin-left: 33.66666666667%;}
    .o-5   { margin-left: 42.08333333334%;}
    .o-6   { margin-left: 50.5%;          }
    .o-7   { margin-left: 58.91666666667%;}
    .o-8   { margin-left: 67.33333333334%;}
    .o-9   { margin-left: 75.75%;         }
    .o-10  { margin-left: 84.16666666667%;}
    .o-11  { margin-left: 92.58333333334%;}
}
@media (min-width: 860px) {
  .layout{
    width: 92%;
    padding: 0;
    }
}

/*Utils------------------------------*/
.align-s      {align-self: flex-start;}
.align-c      {align-self: center;    }
.align-e      {align-self: flex-end;  }

.text-s {text-align: start;     }
.text-c {text-align: center;    }
.text-e {text-align: end;       }

.margin-t1 {margin-top: 2%;}
.margin-t2 {margin-top: 4%;}
.margin-t3 {margin-top: 8%;}
.margin-b1 {margin-bottom: 2%;}
.margin-b2 {margin-bottom: 4%;}
.margin-b3 {margin-bottom: 8%;}
