.layout {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 4%;
}
 .row,
 .row-items-s,
 .row-items-c,
 .row-items-e{
 	width: 100%;
    display: block;
    margin-bottom: 4%;
 }
.col{
	width: 100%;
  margin-bottom: 1%;
}
.col:first-child {
  margin-left: 0; 
  }
@media (min-width: 576px){
  .layout{
    padding: 0 1rem;
  }
  .row,
  .row-items-s,
  .row-items-c,
  .row-items-e{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin-bottom: 1%;
  }
  .row{
    align-items: stretch;
  }
  .row-items-s{
    align-items:flex-start;
  }
  .row-items-c{
    align-items: center;
  }
  .row-items-e{
    align-items:flex-end;
  }
  .row:last-child,
  .row-items-s:last-child,
  .row-items-c:last-child,
  .row-items-b:last-child{
    margin-bottom: 0;
  }
    .col{
      margin-left: 1%; 
      margin-bottom: 0;
    }
    .one.col                    { width: 7.41666666667%; }
    .two.col                    { width: 15.83333333333%;}
    .three.col                  { width: 24.25%;         }
    .four.col                   { width: 32.66666666667%;}
    .five.col                   { width: 41.08333333334%;}
    .six.col                    { width: 49.5%;          }
    .seven.col                  { width: 57.91666666667%;}
    .eight.col                  { width: 66.33333333334%;}
    .nine.col                   { width: 74.75%;         }
    .ten.col                    { width: 83.16666666667%;}
    .eleven.col                 { width: 91.58333333334%;}
    .twelve.col                 { width: 100%; margin-left: 0; }
    
    .offset-one.col             { margin-left: 8.41666666667%; }
    .offset-two.col             { margin-left: 16.83333333333%;}
    .offset-three.col           { margin-left: 25.25%;         }
    .offset-four.col            { margin-left: 33.66666666667%;}
    .offset-five.col            { margin-left: 42.08333333334%;}
    .offset-six.col             { margin-left: 50.5%;          }
    .offset-seven.col           { margin-left: 58.91666666667%;}
    .offset-eight.col           { margin-left: 67.33333333334%;}
    .offset-nine.col            { margin-left: 75.75%;         }
    .offset-ten.col             { margin-left: 84.16666666667%;}
    .offset-eleven.col          { margin-left: 92.58333333334%;}
}
@media (min-width: 860px) {
  .layout{
    width: 90%;
    padding: 0;
    }
}
