*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}
a {
  background-color: transparent;
}
b, strong {
  font-weight: bold;
}
img {
  border: 0;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
textarea {
  overflow: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}